@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=DotGothic16&family=Pixelify+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.aa_font1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: -1px;
}


.ms_font2 {

  // color: white;
  text-decoration: underline;
  font-size: 1rem;
  letter-spacing: 0;
  //margin-top: 1rem !important;
}
.ms_font3 {
  font-size: 14px;
  letter-spacing: 0;
}
.aa_font2 {

  // color: white;
  text-decoration: underline;
  font-size: 1rem;
  letter-spacing: 0;
//  margin-top: 12px !important;
}

.aa_font4{
  font-family: sans-serif;
  font-weight: 500;
  line-height: normal;
  //  text-transform: uppercase;
  font-size: 3.5rem;
  letter-spacing: 2px;
}
.aa_font3{
  font-family: sans-serif;
  font-weight: 800;
  //  text-transform: uppercase;
  line-height: normal;
  font-size: 3.5rem;
  letter-spacing: -1px;
}

.aa_font5{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  //  text-transform: uppercase;
  line-height: 3.5rem;
  font-size: 1.3rem;
  letter-spacing: 1px;
  overflow-x: hidden;
}
.ms_font5{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  //  text-transform: uppercase;
  line-height: 1rem;
  font-size: 1.2rem;
  letter-spacing: -1px;
  overflow-x: hidden;
}
.aa_font6{
  color: #3d3c3c;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  //   text-transform: uppercase;
  line-height: 1.8rem;
  font-size: 1.1rem;
  letter-spacing: 0;
}
.ms_font6{
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  margin-top: 0;
  //   text-transform: uppercase;
  line-height: 1.5rem;
  font-size: .9rem;
  letter-spacing: 0;
}
.aa_font7{
  color: dimgray;
  padding: 0 5px 0 5px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: italic;
  line-height: 1.8rem;
  font-size: 1.1rem;
  letter-spacing: 0;
}

.aa_font8{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  // letter-spacing: 1px;
}


